<!DOCTYPE html>
<html>
<head>
  <title>Cassim</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%= render 'layouts/navbar' %>


<div class="container-fluid voffset">
  <% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
